@import "tailwindcss";

@theme {
  --color-primary: #6366f1;
  --color-accent: #0ea5e9;
  --color-background-dark: #0a0c10;
  --color-card-dark: rgba(17, 24, 39, 0.7);
  --font-family-sans: 'Plus Jakarta Sans', sans-serif;
}

@layer utilities {
  .glass-card {
    background-color: rgb(15 23 42 / 0.4);
    backdrop-filter: blur(24px);
    border: 1px solid rgb(255 255 255 / 0.1);
    box-shadow: 0 8px 32px 0 rgb(0 0 0 / 0.3);
  }
}
